<div class="container mt-5 rounded maindiv">
  <div class="row">
    <div class="col mt-4">
      <h3 style="color: rgb(20, 18, 132);"><b>TO DO LIST</b></h3>

      <div *ngIf="sametask" class="alert alert-warning">{{ sametask }}</div>


      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="newtask" placeholder="Add a new to-do">
        <button class="btn btn-primary" (click)="addTodo()">Add</button>
      </div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let todo of todolist; let i = index">
          {{ todolist[i] }}
          <button class="btn btn-danger btn-sm float-end" (click)="removeTodo(i)">REMOVE</button>
          <button class="btn btn-success btn-sm float-end mx-2" (click)="completedtodo(i)">DONE</button>
        </li>
      </ul>

      <hr>

      <h6>COMPLETED TASK</h6>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let todo of finishedtask; let i = index">
          {{ todo }} 
          <button class="btn btn-danger btn-sm float-end mx-2" (click)="removeTodoFromFinished(i)">Remove</button>
        </li>
      </ul>

      <hr>


      
    </div>
  </div>
</div>

  
  


  
